-# coding: utf-8
-#nend
:javascript
  var nend_params = {"media":9374,"site":38951,"spot":80352,"type":1,"oriented":1};
%script{:type=>"text/javascript",:src=>"http://js1.nend.net/js/nendAdLoader.js"}

%h3 全てのジャンル

%p

- @tags.each do |tag|
  %a{:href=>"/tag/#{tag.name}"}
    %button{:class=>"btn",:type=>"submit"}
      = "#{tag.name}"
%p

