= raw('var content=".article-body-inner"; if(jQuery(content).html() == undefined){content = ".article-body";}; jQuery(content).append("' + (render partial: "indivisual").gsub(/"/,"\\\"").gsub("\n","") + '");')
