-# coding: utf-8
%h2="#{@actress.name}の画像" if @actress

-# photos
.container-fluid
  .row-fluid
    .li.span12
      %img{:src=>@actress.photos.released.sort_by{|p|p.release_date}.reverse.map{|p| p.url}[params[:page].to_i].url}

-# actress list
.well
  = render :partial => "actress_list"
= content_for :title do
  = @title
