-# coding: utf-8
%h2="#{@actress.name}の画像" if @actress

-# photos
.container-fluid
  .row-fluid
    .li.span12
      %img{:src=>@photo.big_url}

-# actress list
.well
  = render :partial => "actress_list"
= content_for :title do
  = @title
